.menu {
  width: 270px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  transform: translateX(-270px);
  opacity: 0;
  visibility: hidden;
}

.menu.show {
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
  box-shadow: 3px 3px 3px #888888;
}

.menu__header {
  height: 150px;
  background: darkgrey;
}

.menu__avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 1rem;
}

.menu__list {
  display: flex;
  flex-flow: column;
}


.menu__item {
  margin: 1rem;
}

.menu__item > h3 {
  color: white;
  padding-left: 0.25rem;
}
